This is beginning of Python basics programming

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

In [1]:
#first python program
print("hello, world")

hello, world

In [4]:
print(67+90)

157

In [5]:
67+90

157

In [6]:
"Hina Firdaus"

'Hina Firdau'

In [10]:
print("hi, this me hina", 56+90)

hi, this me hina 146

multiline string

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [7]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Python Operators:

Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [2]:
2+2

4

In [11]:
56+90/78*66%3-23-900

-865.8461538461538

In [12]:
89.6667678/78.5+23456895*23-900000000000000000000

-8.999999999994605e+20

In [2]:
"a"+ "b"

'ab'

In [3]:
23333+9999

33332

In [1]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:Anirudh
Username is: Anirudh

In [ ]:
#WAP for to get Student details like Name, Age, Marks and Printing them

name= input

Python divides the operators in the following groups:

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

In [10]:
50 - 5*6

20

In [11]:
(50 - 5*6) / 4

5.0

In [4]:
45/2-90*65/11+145 * 1.3*24//12

-132.31818181818187

In [12]:
 8 / 5  # division always returns a floating point number

1.6

In [13]:
17 / 3  # classic division returns a float

5.666666666666667

In [14]:
17 // 3  # floor division discards the fractional part

5

In [15]:
 17 % 3  # the % operator returns the remainder of the division

2

In [20]:
17/3

5.666666666666667

In [16]:
 5 * 3 + 2  # result * divisor + remainder

17

In [7]:
8 ** 3  # 5 squared   x^n

512

Python Assignment Operators

Assignment operators are used to assign values to variables:

In [5]:
x = 6

x >>= 3 #right shift operator

print(x)

0

In [2]:
x = 6

x <<= 3 #left shift operator

print(x)

48

Python Comparison Operators

Comparison operators are used to compare two values:

In [4]:
x = 5
y = 5

print(x >= y)
print(x<=y)
print(x==y)
print(x>y)
print(x<y)

# returns True because five is greater, or equal, to 3

True
True
True
False
False

Python Logical Operators

Logical operators are used to combine conditional statements:

and, or , not

In [7]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

Python Identity Operators

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:
is, is not

In [6]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

Python Membership Operators

Membership operators are used to test if a sequence is presented in an object:
in, in not

In [7]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

x= "We are late, let us go back"
print("late" in x)

True
True

Variables: 
Variables are containers for storing data values.

In [12]:
x = 5
y = "John"
z=input("")
print(x)
print(y)
print(x,y)
print("This is a demo: "+z, x, y)

44
5
John
5 John
This is a demo: 44 5 John

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [1]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

Casting:
If you want to specify the data type of a variable, this can be done with casting.

In [20]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

Get the Type:
You can get the data type of a variable with the type() function.

In [3]:
x = 5
y = "John"
z= "Gurkirat456"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'str'>

Case-Sensitive:
Variable names are case-sensitive.

In [22]:
a = 4
A = "Sally"
#A will not overwrite a

Variable Names:

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 
Rules for Python variables:

A variable name must start with a letter or the underscore character

A variable name cannot start with a number

A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )

Variable names are case-sensitive (age, Age and AGE are three different variables)

In [23]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

Many Values to Multiple Variables:

Python allows you to assign values to multiple variables in one line

In [24]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

One Value to Multiple Variables:

And you can assign the same value to multiple variables in one line

In [25]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Unpack a Collection:

If you have a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.

In [26]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables:

The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character

In [4]:
x = "awesome"
y ="I don't care still"
print("Whatever is python " + y)

Whatever is python I don't care still

You can also use the + character to add a variable to another variable:

In [28]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

For numbers, the + character works as a mathematical operator:

In [29]:
x = 5
y = 10
print(x + y)

15

In [7]:
width = 20
height = 5 * 9
print(width * height)

900

Global Variables:

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [31]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [32]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

The global Keyword:

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [33]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

In [34]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

There are three numeric types in Python:


int
float
complex
Variables of numeric types are created when you assign a value to them:

In [35]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

Int:

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length

In [36]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Float:

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [1]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [38]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Complex:

Complex numbers are written with a "j" as the imaginary part:

In [39]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Type Conversion:

You can convert from one type to another with the int(), float(), and complex() methods:

In [40]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Random Number:

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [2]:
import random

print(random.randrange(10000, 2555552222))

1821547819

Specify a Variable Type:

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.


Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [42]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [43]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [44]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [6]:
#WAP that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old

name = input("What is your name: ")
age = int(input("How old are you: "))
year = (2021 - age)+100
print(name + " will be 100 years old in the year " ,year)

What is your name: Hina
How old are you: 24
Hina will be 100 years old in the year  2097

In [ ]:
#WAP to get user input of 5 numbers to find the average of the number and calculate percentage.

Strings:

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [45]:
print("Hello")
print('Hello')

Hello
Hello

Assign String to a Variable

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [46]:
a = "Hello"
print(a)

Hello

Multiline Strings

You can assign a multiline string to a variable by using three quotes:

In [47]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Strings are Arrays:

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [18]:
a = "Hello, World!"
print(a[-6:-1])

World

Looping Through a String:

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [49]:
for x in "banana":
  print(x)

b
a
n
a
n
a

String Length:

To get the length of a string, use the len() function.

In [50]:
a = "Hello, World!"
print(len(a))

13

Check String:

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [51]:
txt = "The best things in life are free!"
print("free" in txt)

True

Slicing:

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [3]:
b = "Hello, World!"
print(b[2:8])

llo, W

Slice From the Start:

By leaving out the start index, the range will start at the first character:

In [8]:
b = "Hello, World!"
print(b[ :6])

Hello,

Slice To the End:

By leaving out the end index, the range will go to the end:

In [55]:
b = "Hello, World!"
print(b[2:])

llo, World!

Negative Indexing:

Use negative indexes to start the slice from the end of the string:

In [8]:
b = "Hello, World!"
print(b[-13:-5])

Hello, W

String Concatenation:

To concatenate, or combine, two strings you can use the + operator.

In [2]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [11]:
2.333*45

104.98500000000001

In [9]:
d=bool(c)
print(d)

True

When you run a condition in an if statement, Python returns True or False:

In [10]:
a=34,67,56,78,23
a[2]=90
print(a)

TypeError: 'tuple' object does not support item assignment

# List:

Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [12]:
thislist = ["apple", "banana", "cherry"]
d= [10,56,78,34]
print(d)
print(type(thislist))

[10, 56, 78, 34]
<class 'list'>

In [8]:
#Bandana Kaur

List1 = ["aman" , "Anjali" , "Anushka"]
List2 =[13, 34, 45]
print ("name: ", List1)
print ("age: ", List2 )

name:  ['aman', 'Anjali', 'Anushka']
age:  [13, 34, 45]

In [9]:
#Amritpal
lst = [("Raju",10), ("Kaju",20), ("badam",30)]
print(lst)

[('Raju', 10), ('Kaju', 20), ('badam', 30)]

In [10]:
#Manish
list = ["ak",21,"rk",16,"sk",15]
print(list)

['ak', 21, 'rk', 16, 'sk', 15]

# List Items:

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered:

When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Changeable:

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Allow Duplicates:

Since lists are indexed, lists can have items with the same value:

In [14]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(len(thislist))

5

List Length:

To determine how many items a list has, use the len() function:

In [63]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

List Items - Data Types:

List items can be of any data type:

In [11]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
print(type(list1))

<class 'list'>

A list can contain different data types:

In [66]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

type()

From Python's perspective, lists are defined as objects with the data type 'list':

In [67]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

The list() Constructor:

It is also possible to use the list() constructor when creating a new list.

In [68]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Python Collections (Arrays):

There are four collection data types in the Python programming language:


List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered and unindexed. No duplicate members.

Dictionary is a collection which is unordered and changeable. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

Access Items:

List items are indexed and you can access them by referring to the index number:

In [13]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-2])

banana

Negative Indexing:

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [70]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

Range of Indexes:

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [71]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

By leaving out the start value, the range will start at the first item:

In [10]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [73]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

Range of Negative Indexes:

Specify negative indexes if you want to start the search from the end of the list:

In [74]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

Change Item Value:

To change the value of a specific item, refer to the index number:

In [76]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

Change a Range of Item Values:

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [77]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [78]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [18]:
thislist = ["apple", "banana", "cherry"]
thislist[-2:-1] = ["watermelon"]
print(thislist)

['apple', 'watermelon', 'cherry']

Insert Items:

To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [80]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Append Items:

To add an item to the end of the list, use the append() method:

In [81]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

Insert Items:

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

Extend List:

To append elements from another list to the current list, use the extend() method.

In [83]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

Remove Specified Item:

The remove() method removes the specified item.

In [6]:
thislist = ["apple", "banana", "cherry", "banana", "cherry", "apple"]

thislist.remove("banana")
print(thislist)
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'cherry', 'apple']
['apple', 'cherry', 'cherry', 'apple']

Remove Specified Index:

The pop() method removes the specified index.

In [85]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

In [86]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

In [87]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

In [7]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

In [21]:
a= ["re",455, True, 89.77777, 67e45]
a.insert(2, "ani")
print(a)

['re', 455, 'ani', True, 89.77777, 6.7e+46]

In [ ]:
#WAP to print the 5 name, age

Clear the List:

The clear() method empties the list.

The list still remains, but it has no content.

In [8]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)
thislist = [10,20]
print(thislist)

[]
[10, 20]

Sort List Alphanumerically:

List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [90]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

Sort Descending:

To sort descending, use the keyword argument reverse = True:

In [91]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True) #activate the reverse paramter inside the sort method
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [92]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

Case Insensitive Sort:

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [93]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [94]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

Reverse Order:

What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [95]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

Copy a List:

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [96]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Another way to make a copy is to use the built-in method list().

In [97]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

Join Two Lists

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [98]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Or you can use the extend() method, which purpose is to add elements from one list to another list:

In [99]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# Tuple:

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple Items:

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

Ordered:

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

Unchangeable:

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

Allow Duplicates:

Since tuple are indexed, tuples can have items with the same value:

In [2]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

Tuple Length:

To determine how many items a tuple has, use the len() function:

In [1]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(len(thistuple))

5

Create Tuple With One Item:

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [4]:
thistuple = ("apple",)
tu = (10,)
print(type(thistuple))
print(type(tu))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'tuple'>
<class 'str'>

Tuple Items - Data Types:

Tuple items can be of any data type:

In [5]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [11]:
#WAP to store your name, marks, age, contact in an unchangeable datatype

a=("abc", 78, 67,98787687)
a[2]=89
print(a)

TypeError: 'tuple' object does not support item assignment

A tuple can contain different data types:

In [6]:
tuple1 = ("abc", 34, True, 40, "male")

The tuple() Constructor:

It is also possible to use the tuple() constructor to make a tuple.

In [7]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

Access Tuple Items:

You can access tuple items by referring to the index number, inside square brackets:

In [8]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

Negative Indexing:

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [9]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

Range of Indexes:

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [10]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

Range of Negative Indexes:

Specify negative indexes if you want to start the search from the end of the tuple:

In [11]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

Change Tuple Values:

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [9]:
x = ("apple", "banana", "cherry")
y = list(x)   #use list constructor
y[1:3] = ["kiwi", "watermelon"]
x = tuple(y)

print(x)

('apple', 'kiwi', 'watermelon')

Add Items:

Once a tuple is created, you cannot add items to it.

In [10]:
thistuple = ("apple", "banana", "cherry")
thistuple.append("orange") # This will raise an error
print(thistuple)

AttributeError: 'tuple' object has no attribute 'append'

Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [11]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Remove Items:

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [12]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

Or you can delete the tuple completely:

In [12]:
thistuple = ("apple", "banana", "cherry")
#print(thistuple)
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

Unpacking a Tuple:

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [14]:
fruits = ("apple", "banana", "cherry")

print(fruits)

('apple', 'banana', 'cherry')

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [15]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [37]:
#s1= ["Hina", 25, 78, 89, 90]
s1=list(map(int, input("Enter roll number, age, and three marks of the subject: ").strip().split()))[:5]
(rn,age,m1,m2,m3)=s1
print((m1+m2+m3)/3)
print(4*m1)

Enter roll number, age, and three marks of the subject: 2 34 90 90 90
90.0
360

In [40]:
e1= list(map(float, input("Enter emp ID, Number of days present, and wages per day: ").strip().split()))[:3]
(eid, p, wa)=e1
basic = wa*p
hra=basic*0.1
da=basic*0.05
pf=basic*0.12
salary=basic+hra+da-pf
print(salary)

Enter emp ID, Number of days present, and wages per day: 1 300 1000
309000.0

In [38]:
days=float(input("Enter No Days Present:"))
wages=float(input("Enter wages per Day:"))
basic=wages*days;
HRA=basic*0.1;
DA=basic*0.05;
PF=basic*0.12;  
netsalary=basic+HRA+DA-PF;
print("\nBasic:%lf \nHRA:%lf \nDA:%lf \nPF:%lf \nNet Salary:%lf" %(basic,HRA,DA,PF,netsalary));

Enter No Days Present:300
Enter wages per Day:500

Basic:150000.000000
HRA:15000.000000
DA:7500.000000
PF:18000.000000
Net Salary:154500.000000

Join Two Tuples:
    
To join two or more tuples you can use the + operator:

In [26]:
a=[10,10]
b=[23,56]
c=[]
c.append(a[:2]+b[:2])
c

[[10, 10, 23, 56]]

In [17]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

Multiply Tuples

If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [19]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 4

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# User input in list

In [19]:
a = list(map(int,input("\nEnter the numbers : ").strip().split()))
print(a)

Enter the numbers : 10 10 10
[10, 10, 10]

# map()

The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

## Syntax
map(function, iterables)

# strip()
The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

## Syntax
string.strip(characters)

# split()
The split() method splits a string into a list.

You can specify the separator, default separator is any whitespace.

Note: When maxsplit is specified, the list will contain the specified number of elements plus one.

## Syntax
string.split(separator, maxsplit)

In [21]:

# number of elements
n = int(input("Enter number of elements to be be in list: "))
  
# Below line read inputs from user using map() function 
a = list(map(int,input("\nEnter the numbers of list: ").strip().split()))[ :n]
  
print("\nList is - ", a)
b= sum(a)
print(b)

Enter number of elements to be be in list: 5

Enter the numbers of list: -10 9

List is -  [-10, 9]
-1

In [22]:
##### # number of elements
n = int(input("Enter number of elements to be be in list: "))
  
# Below line read inputs from user using map() function 
a = tuple(map(int,input("\nEnter the numbers of list: ").strip().split()))[:n]
  
print("\nList is - ", a)

Enter number of elements to be be in list: 1

Enter the numbers of list: 2

List is -  (2,)

# Set:

Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

In [14]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [13]:
a = {10,45, -1,-1, 10}
b = [10,56,34]
c= (34,78,45)

print(a,b,c)

{10, 45, -1} [10, 56, 34] (34, 78, 45)

## Set Items

Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable

Sets are unchangeable, meaning that we cannot change the items after the set has been created.

#### Once a set is created, you cannot change its items, but you can add new items.

Duplicates Not Allowed:

Sets cannot have two items with the same value.

In [20]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'banana', 'cherry'}

Get the Length of a Set:

To determine how many items a set has, use the len() method.

In [13]:
thisset = {"apple", "banana", "cherry","apple"}

print(len(thisset))

3

Set Items - Data Types:

Set items can be of any data type

In [23]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'apple', 'banana', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

A set can contain different data types:

In [24]:
set1 = {"abc", 34, True, 40, "male"}

print(set1)

{True, 34, 40, 'male', 'abc'}

### Add Items

Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [ ]:
#create a set with 6 numbers and add a number in 4th position without using add()
a

In [16]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")

print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

Add Sets:

To add items from another set into the current set, use the update() method.

In [54]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'cherry', 'papaya', 'mango', 'apple', 'pineapple'}

Add Any Iterable

The object in the update() method does not have be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [12]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'kiwi', 'banana', 'apple', 'cherry'}

Remove Item:

To remove an item in a set, use the remove(), or the discard() method.

In [13]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("apple")

print(thisset)

{'banana', 'cherry'}

Remove "banana" by using the discard() method:

In [29]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [14]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

The clear() method empties the set:

In [31]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The del keyword will delete the set completely:

In [33]:
thisset = {"apple", "banana", "cherry"}
print(thisset)
del thisset

print(thisset)

{'apple', 'banana', 'cherry'}

NameError: name 'thisset' is not defined

Join Two Sets:

There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [60]:
set1 = {"a", "b" , "c", "a", "b"}
set2 = {1, 2, 3,2,3,1,1,1}

set3 = set1.union(set2)
print(set3)

{'a', 1, 2, 3, 'c', 'b'}

Keep ONLY the Duplicates:

The intersection_update() method will keep only the items that are present in both sets.

In [61]:
x = {"apple", "banana", "cherry", "kiwi"}
y = {"google", "microsoft", "apple", "kiwi"}

x.intersection_update(y)

print(x)

{'apple', 'kiwi'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [36]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [8]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'google', 'banana'}

The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [9]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'cherry', 'microsoft', 'google'}

# Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with curly brackets, and have keys and values:

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Dictionary Items

Dictionary items are ordered, changeable, and does not allow duplicates.

Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [17]:
#WAP to create a dictionary with key as name, age, place 
d= {"name": "abc", "age":56, "place":"delhi"}
print(d["age"])

56

In [3]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

Ordered or Unordered?

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

Changeable

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

Duplicates Not Allowed

Dictionaries cannot have two items with the same key:

In [12]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

Dictionary Length

To determine how many items a dictionary has, use the len() function:

In [14]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(len(thisdict))

3

Dictionary Items - Data Types


The values in dictionary items can be of any data type:

In [64]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [21]:
#Rohit ji
courses = {
   "courseName" : ["ML", "OOPS", "WBD"],
   "courseCode" : [454,7878], 
   "courseFaculty" : ["Ms. Hina Firdaus","Ms. Sakshi" ,"xyz"]                    
}
print(courses["courseName"])
print(courses)

['ML', 'OOPS', 'WBD']
{'courseName': ['ML', 'OOPS', 'WBD'], 'courseCode': [454, 7878], 'courseFaculty': ['Ms. Hina Firdaus', 'Ms. Sakshi', 'xyz']}

Accessing Items

You can access the items of a dictionary by referring to its key name, inside square brackets:

In [9]:
#Pranshu ji
#nested dictionary
person= {"contact_number":{"name": "Ram","age": 25}}
print(person)

{'contact_number': {'name': 'Ram', 'age': 25}}

In [17]:
#Simrat ji
person = {"name" : "Simrat", "age" : 22, "num":3443}
print(person)

{'name': 'Simrat', 'age': 22, 'num': 3443}

In [22]:
#Jagjyot ji

id_card = {"name": ["abc","def","cgh","ijk"], "age" : [22,23,21,22], "contact": [4443,3443,4545,3432]}
print("Dictionary of details: ",id_card)
print("The age: ",id_card["age"])

Dictionary of details:  {'name': ['abc', 'def', 'cgh', 'ijk'], 'age': [22, 23, 21, 22], 'contact': [4443, 3443, 4545, 3432]}
The age:  [22, 23, 21, 22]

In [16]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

Get method

In [17]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

There is also a method called get() that will give you the same result:

In [18]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

Get Keys

The keys() method will return a list of all the keys in the dictionary.

In [19]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

The list of the keys is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the keys list.

In [20]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

Get Values

The values() method will return a list of all the values in the dictionary.

In [21]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()

print(x)

dict_values(['Ford', 'Mustang', 1964])

The list of the values is a view of the dictionary, meaning that any changes done to the dictionary will be reflected in the values list.

In [22]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

Get Items

The items() method will return each item in a dictionary, as tuples in a list.

In [23]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [65]:
#Amritpal
courses = {
    "CourseName": ["ML", "OOSE", "abc", "HVPE"],
    "CourseCode": ["ETCS5464", "ETCS8786", "545", "ET9809" ],
    "Faculty" : ["fjkdh", "ghfjkg", "jfgl", "gjkfh"]

}
print(courses)

{'CourseName': ['ML', 'OOSE', 'abc', 'HVPE'], 'CourseCode': ['ETCS5464', 'ETCS8786', '545', 'ET9809'], 'Faculty': ['fjkdh', 'ghfjkg', 'jfgl', 'gjkfh']}

In [66]:
#Gurkirat

courses = { "ML": "Hina Mam, 101", "Mobile Computing": "Hina mam, 102", "Web": "Sakshi Mam,103"}
print(courses)

{'ML': 'Hina Mam, 101', 'Mobile Computing': 'Hina mam, 102', 'Web': 'Sakshi Mam,103'}

The returned list is a view of the items of the dictionary, meaning that any changes done to the dictionary will be reflected in the items list.

In [24]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

Check if Key Exists

To determine if a specified key is present in a dictionary use the in keyword:

In [24]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")
else:
    print("not exsist")

Yes, 'model' is one of the keys in the thisdict dictionary

Change Values

You can change the value of a specific item by referring to its key name:

In [27]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

Update Dictionary

The update() method will update the dictionary with the items from the given argument.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [28]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year": 2020})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

Adding Items

Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [29]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Update Dictionary

The update() method will update the dictionary with the items from a given argument. If the item does not exist, the item will be added.

The argument must be a dictionary, or an iterable object with key:value pairs.

In [30]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

Removing Items

There are several methods to remove items from a dictionary:

In [31]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")  #key
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

In [32]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

The del keyword removes the item with the specified key name:

In [33]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

The del keyword can also delete the dictionary completely:

In [34]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

The clear() method empties the dictionary:

In [35]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

Copy a Dictionary

You cannot copy a dictionary simply by typing dict2 = dict1, because: dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2.

There are ways to make a copy, one way is to use the built-in Dictionary method copy().

In [36]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Another way to make a copy is to use the built-in function dict().

In [37]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Nested Dictionaries

A dictionary can contain dictionaries, this is called nested dictionaries.

In [39]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

Python Conditions and If statements

Python supports the usual logical conditions from mathematics:

Equals: a == b

Not Equals: a != b

Less than: a < b

Less than or equal to: a <= b

Greater than: a > b

Greater than or equal to: a >= b

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the if keyword.

In [40]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

Indentation

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [25]:
a = 33
b = 200
if b > a:
    print("b is greater than a") # you will get an error

b is greater than a

Elif

The elif keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [29]:
a= int(input("Enter first number: "))
b = int(input("Enter first number: "))

if b > a:
  print(b,"is greater than",a)
elif a == b:
  print(a, " and", b, "are equal")
elif b<a:
    print(a, "is greater then",b)

Enter first number: 45
Enter first number: 200
200 is greater than 45

Else

The else keyword catches anything which isn't caught by the preceding conditions.

In [43]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [26]:
#Pavleen ji
num = 7 
if (num % 2) == 0:  
   print(" Even number")  
else:  
   print(" Odd number")

 Odd number

In [29]:
#Rohit ji
a = 10

if a%2 == 0:
   print("a is even")
else:
   print("b is odd")

a is even

In [32]:
#Shivam ji

num = int(input("Enter a number: "))  
if (num % 2) == 0:  
   print(" Even ")  
else:  
   print(" Odd")

Enter a number: 78
 Even

You can also have an else without the elif:

In [44]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

Short Hand If

If you have only one statement to execute, you can put it on the same line as the if statement.

In [46]:
a = 200
b = 33

if a > b: print("a is greater than b")

a is greater than b

In [30]:
#Pranshu ji
n = int(input())
if n%2 == 0: print("Even")
else: print("Odd")

222333
Odd

In [31]:
#Sahibjot ji
number = int(input())
if number%2 == 0:
    print("even")
else:
    print("odd")

855555741238
even

Short Hand If ... Else

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line:

In [47]:
a = 2
b = 330

print("A") if a > b else print("B")

B

And

The and keyword is a logical operator, and is used to combine conditional statements:

In [48]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

Or

The or keyword is a logical operator, and is used to combine conditional statements:

In [49]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

Nested If

You can have if statements inside if statements, this is called nested if statements.

In [50]:
x = 41

if x > 10:
  print("Above ten,")
    if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

The pass Statement

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

In [51]:
a = 33
b = 200

if b > a:
  pass

# Python Loops

Python has two primitive loop commands:

while loops

for loops

The while Loop

With the while loop we can execute a set of statements as long as a condition is true.

In [2]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

Note: remember to increment i, or else the loop will continue forever.

The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

The break Statement

With the break statement we can stop the loop even if the while condition is true:

In [2]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

The continue Statement

With the continue statement we can stop the current iteration, and continue with the next:

In [3]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The else Statement


With the else statement we can run a block of code once when the condition no longer is true:

In [4]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Python For Loops

A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [3]:

b = [34,23,67,22,78,32]
for x in b:
  print(x)

34
23
67
22
78
32
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [6]:
fruits = ["apple", "banana", "cherry"]

for j in fruits:
    print(j)

apple
banana
cherry

The for loop does not require an indexing variable to set beforehand.

Looping Through a String

Even strings are iterable objects, they contain a sequence of characters:

In [6]:
for x in "banana":
  print(x)

b
a
n
a
n
a

The break Statement

With the break statement we can stop the loop before it has looped through all the items:

In [12]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

Exit the loop when x is "banana", but this time the break comes before the print:

In [8]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

The continue Statement

With the continue statement we can stop the current iteration of the loop, and continue with the next:

In [9]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

The range() Function

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [10]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [7]:
for x in range(10, 30):  #increment +1
  print(x)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [9]:
for x in range(30, 2, -1):
  print(x)

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3

Else in For Loop

The else keyword in a for loop specifies a block of code to be executed when the loop is finished:

In [13]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

Note: The else block will NOT be executed if the loop is stopped by a break statement.

In [14]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [15]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Function
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

Creating a Function
In Python a function is defined using the def keyword:

In [14]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

Calling a Function

To call a function, use the function name followed by parenthesis:

In [15]:
def my_function():
    print("Hello from a function")
    print("this is my first fuction program", 88888+99999)

my_function()

Hello from a function
this is my first fuction program 188887

# Arguments

Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [18]:
def my_function(fname, lname, contact):
  print(fname + " Refsnes" + lname+ " "+ contact)

my_function("Emil", "jospehine", "454646")
#my_function("Tobias")
#my_function("Linus")

Emil Refsnesjospehine 454646

Arguments are often shortened to args in Python documentations.


Parameters or Arguments?

The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

Number of Arguments

By default, a function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [19]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

If you try to call the function with 1 or 3 arguments, you will get an error:

In [36]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emily", "joey")

Emily joey

Arbitrary Arguments, *args

If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

This way the function will receive a tuple of arguments, and can access the items accordingly:

In [20]:
def my_function(*kids):
  print("The youngest child is " + kids[0])

my_function("Emil", "Tobias", "Linus")

The youngest child is Emil

Keyword Arguments

You can also send arguments with the key = value syntax.

This way the order of the arguments does not matter.

In [23]:
def my_function(child1, child2, child3):
  print("The youngest child is " + child1)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Emil

Arbitrary Keyword Arguments, **kwargs

If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [23]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

Default Parameter Value

The following example shows how to use a default parameter value.

If we call the function without argument, it uses the default value:

In [24]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

Passing a List as an Argument

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [13]:
fruits = ["apple", "banana", "cherry"]
def my_function(food):
  for x in food:
    print(x)



my_function(fruits)

apple
banana
cherry

Return Values

To let a function return a value, use the return statement:

In [26]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

# Recursion

Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

To a new developer it can take some time to work out how exactly this works, best way to find out is by testing and modifying it.

In [27]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

# Python Classes/Objects

Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

Create a Class

To create a class, use the keyword class:

In [34]:
class MyClass:
  x = 5

print(MyClass)

<class '__main__.MyClass'>

Create Object

Now we can use the class named MyClass to create objects:

In [26]:
class MyClass:
    x = 5
    y=10  

p1 = MyClass()
print(p1.x)
print(p1.y)

5
10

# The __init__() Function

The examples above are classes and objects in their simplest form, and are not really useful in real life applications.

To understand the meaning of classes we have to understand the built-in __init__() function.

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

# Self

The self in keyword in Python is used to all the instances in a class. By using the self keyword, one can easily access all the instances defined within a class, including its methods and attributes.

In [36]:
class Person:
  def __init__(self, name, age):  #to define init use double under score back and front
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

Note: The __init__() function is called automatically every time the class is being used to create a new object.

Object Methods

Objects can also contain methods. Methods in objects are functions that belong to the object.

Let us create a method in the Person class:

In [29]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

Note: The self parameter is a reference to the current instance of the class, and is used to access variables that belong to the class.

The self Parameter

The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [38]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

Modify Object Properties

You can modify properties on objects like this:

In [39]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

p1.age = 40

print(p1.age)

40

Delete Object Properties

You can delete properties on objects by using the del keyword:

In [40]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1.age

print(p1.age)

AttributeError: 'Person' object has no attribute 'age'

Delete Objects

You can delete objects by using the del keyword:

In [41]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1

print(p1)

NameError: name 'p1' is not defined

Python Inheritance

Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.

Create a Parent Class

Any class can be a parent class, so the syntax is the same as creating any other class:

In [42]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

Create a Child Class

To create a class that inherits the functionality from another class, send the parent class as a parameter when creating the child class:

In [43]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

Add the __init__() Function

So far we have created a child class that inherits the properties and methods from its parent.

We want to add the __init__() function to the child class (instead of the pass keyword).

Note: The __init__() function is called automatically every time the class is being used to create a new object.

When you add the __init__() function, the child class will no longer inherit the parent's __init__() function.

Note: The child's __init__() function overrides the inheritance of the parent's __init__() function.

To keep the inheritance of the parent's __init__() function, add a call to the parent's __init__() function:

In [44]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

Use the super() Function

Python also has a super() function that will make the child class inherit all the methods and properties from its parent:

In [45]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

Python Iterators

An iterator is an object that contains a countable number of values.

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.

Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().

Iterator vs Iterable

Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.

All these objects have a iter() method which is used to get an iterator:

In [46]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

Even strings are iterable objects, and can return an iterator:

In [47]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

Looping Through an Iterator

We can also use a for loop to iterate through an iterable object:

In [48]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

apple
banana
cherry

Create an Iterator

To create an object/class as an iterator you have to implement the methods __iter__() and __next__() to your object.

As you have learned in the Python Classes/Objects chapter, all classes have a function called __init__(), which allows you to do some initializing when the object is being created.

The __iter__() method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.

The __next__() method also allows you to do operations, and must return the next item in the sequence.

In [49]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

File handling is an important part of any web application.

Python has several functions for creating, reading, updating, and deleting files.

File Handling

The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

"r" - Read - Default value. Opens a file for reading, error if the file does not exist

"a" - Append - Opens a file for appending, creates the file if it does not exist

"w" - Write - Opens a file for writing, creates the file if it does not exist

"x" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode

"t" - Text - Default value. Text mode

"b" - Binary - Binary mode (e.g. images)

Syntax

To open a file for reading it is enough to specify the name of the file:

In [50]:

f =open("demofile.txt")  #give the address of demo text file

FileNotFoundError: [Errno 2] No such file or directory: 'demofile.txt'